@layer reset, base, layout, components,utilities;

@layer reset{
    *,
    *::before,
    *::after {
    box-sizing: border-box;
    }

    /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
    html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    }

    body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
    margin: 0;
    }

    /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
    [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
    }

    body {
    min-block-size: 100vh;
    line-height: 1.6;
    }

    h1,
    h2,
    h3,
    button,
    input,
    label {
    line-height: 1.1;
    }

    h1,
    h2,
    h3,
    h4 {
    text-wrap: balance;
    }

    p,
    li {
    text-wrap: pretty;
    }

    img,
    picture {
    max-inline-size: 100%;
    display: block;
    }

    input,
    button,
    textarea,
    select {
    font: inherit;
}
}

@layer base{
    :root{
        --brown-1:rgba(66, 61, 60, 100%);
        --brown-2:rgba(56, 50, 49, 100%);
        --brown-3:rgba(45, 39, 38, 100%);
        --brown-4:rgba(41, 36, 36, 100%);
        --brown-5:rgba(34, 30, 30, 100%);

        --primary:rgba(245, 156, 92, 100%);
        --primary-light:rgba(247, 182, 135, 100%);

        --white:rgba(255, 255, 255, 100%);
        --gray:rgba(203, 201, 201, 100%);

        --accent-light:rgba(101, 148, 119, 100%);
        --accent:rgba(59, 130, 86, 100%);
        --accent-dark:rgba(35, 65, 47, 100%);

        --red:rgba(126, 62, 63, 100%);
        --brunt-orange:rgba(135, 92, 54, 100%);
        --teal:rgba(55, 126, 134, 100%);

        --ff-heading: "Outfit", sans-serif;
        --ff-body: "Fira Sans", sans-serif;

        --fs-300: 0.875rem;
        --fs-400: 1rem;
        --fs-500: 1.125rem;
        --fs-600: 1.25rem;
        --fs-700: 1.5rem;
        --fs-800: 2rem;
        --fs-900: 3.75rem;
        --fs-1000: 3.75rem;

        --border-radius-1: 0.25rem;
        --border-radius-2: 0.5rem;
        --border-radius-3: 0.75rem;

        /* --equal-columns-gap: 1rem; */

        @media (width > 760px) {
            --fs-300: 0.875rem;
            --fs-400: 1rem;
            --fs-500: 1.25rem;
            --fs-600: 1.5rem;
            --fs-700: 2rem;
            --fs-800: 3rem;
            --fs-900: 5rem;
            --fs-1000: 7.5rem;
        }

        
    }

    html{
        font-family: var(--ff-body);
        line-height: 1.6;
    }

    body {
        font-size:var(--fs-500);
        color:var(--white);
        background-color:var(--brown-2);
    }

    h1, h2, h3, h4{
        font-family:var(--ff-heading);
        color:var(--white);
    }

    h1{
        font-size:var(--fs-1000);
    }

    a{
        color:var(--white);
    }

    a:hover,a:focus-visible{
        color:var(--gray);
    }

    img{
        border-radius:var(--border-radius-3);
    }
}

@layer layout{
    .flow > * + *{
        margin-top: var(--flow-spacer, 1em);
    }
    
    .grid-flow{
        display: grid;
        gap: var(--grid-flow-space, 1rem);

        align-content: start;
        justify-items: start;
    }

    .equal-columns {
        display: grid;
        gap: var(--equal-columns-gap, 1.5rem);
        align-items: var(--equal-columns-vertical-alignment, stretch);

    @media (width > 760px) {
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        }

        &[data-gap="large"]{
            --equal-columns-gap:3rem;
        }

        &[data-alignment="centered"]{
            --equal-columns-vertical-alignment: center;
        }
    }

    .section{
        padding-block: 3.75rem;

        @media(width > 720px){
            padding-block: 8rem;

            &[data-padding="compact"]{
                padding-block: 4.5rem;
            }
        }
    }

    .wrapper{
        max-width: 1130px;
        margin-inline: auto;
        padding-inline: 1rem;
        box-sizing: content-box;
    }

    .wrapper[data-width="narrow"]{
        max-width: 760px;
    }

    .wrapper[data-width="wide"]{
        max-width: 1130px;
    }
}

@layer components{
    .page-header{
        padding-block: 1rem;
    }
    .page-header__inner{
        display: flex;
        justify-content:space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }
    .primary-nav {
        ul{
            list-style-type:none;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem 1rem;
        }
    }

    .intro{
        text-align: center;
        background-image: url(../assets/hero.webp);
        background-size: cover;
        background-position: center;
    }

    .intro__title{
        font-size:var(--fs-900);

        > span{
            display:block;
            font-size:var(--fs-1000);
            color:var(--primary);
        }
    }
    .intro__para{
        font-family:var(--ff-body);
    }

    .the-joys{
        background-color:var(--brown-3);
    }

    .card{
        background-color:var(--brown-2);
        border-radius:var(--border-radius-3);
        padding: 1rem;

        > h3{
            font-size:var(--fs-700);
        }
        > p{
            font-size:var(--fs-400);
            padding:0 0.5rem;
            padding-right:0;
            color:var(--gray);
        }
    }

    .start-your .wrapper{
        > p{
            font-size:var(--fs-600);
        }
    }

    .get-to{
        padding-inline:0;
    }

    .button {
        display: inline flex;
        cursor: pointer;
        font-family: var(--ff-heading);
        font-weight: 700;
        font-size:var(--fs-500);
        text-decoration: none;
        background-color:var(--accent);
        padding: 0.5rem 1rem;
        border-radius:var(--border-radius-2);
    }

    .button:hover,
    .button:focus-visible {
        background: var(--accent);
        color: var(--text-high-contrast);
    }
}

@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
  .text-center {
    text-align: center;
  }
  .text-brand {
    color:var(--primary);
  }
  .text-high-contrast {
    color:var(--white);
  }
  .text-low-contrast{
    color:var(--gray);
  }

  .section-title {
    font-size:var(--fs-800);
  }

  .background-base {
    background-color:var(--brown-3);
  }
  .background-light {
    background-color:var(--brown-2);
  }
  .background-extra-light {
    background-color:var(--brown-1);
  }
  .background-dark {
    background-color:var(--brown-4);
  }
  .background-extra-dark {
    background-color:var(--brown-5);
  }

  .background-accent {
    background-color:var(--accent-dark);
  }

  .font-size-sm {
    font-size:var(--fs-300);
  }
  .font-size-regular {
    font-size:var(--fs-400);
  }
  .font-size-md {
    font-size:var(--fs-500);
  }
  .font-size-lg {
    font-size:var(--fs-600);
  }
  .font-size-xlg{
    font-size:var(--fs-700);
  }
}


